
@section styles{
    <link rel="stylesheet" href="~/notification/css/notification.css">
}

@section header{
    <h1>
        Task
        <small>your current notify items</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Notification</li>
    </ol>
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-bell-o"></i> Notify list</h3>
    </div>
    <div class="notification-box-content">
        <!--Notification List-->
    </div>
</div>

@section Scripts{
    <script src="~/notification/js/notification.js"></script>
}