<div class="box-header with-border">
    <h3 class="box-title">Task Labels</h3>

    <div class="box-tools">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
        </button>
    </div>
</div>
<div class="box-body no-padding" style="">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Open</a></li>
        <li><a href="#"><i class="fa fa-coffee text-fuchsia"></i> Wait for feedback</a></li>
        <li><a href="#"><i class="fa fa-anchor"></i> Assiged</a></li>
        <li><a href="#"><i class="fa fa-plane text-yellow"></i> Working</a></li>
        <li><a href="#"><i class="fa fa-thumbs-o-up"></i> Resovled</a></li>
        <li><a href="#"><i class="fa fa-close text-red"></i> Failed</a></li>
        <li><a href="#"><i class="fa fa-check-circle text-success"></i> Closed</a></li>
    </ul>
</div>