@{ 
    ViewBag.Title = "EzTask - "+ Html.GetStringResource("DashboardPageTitle", StringResourceType.DashboardPage);
}

@section header{
    <h1>
        @Html.GetStringResource("Dashboard", StringResourceType.BreadCrumb)
        <small>@Html.GetStringResource("ControlPanel", StringResourceType.BreadCrumb)</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @Html.GetStringResource("Dashboard", StringResourceType.BreadCrumb)</a></li>
        <li class="active">@Html.GetStringResource("Home", StringResourceType.BreadCrumb)</li>
    </ol>
}