@model AccountInfoViewModel
@{   
    ViewBag.Title = "EzTask - " + string.Format(Html.GetStringResource("PublicUserProfile", StringResourceType.UserProfilePage).ToString(), Model.DisplayName);
}

<h2>PublicProfile</h2>

