@model InviteResultViewModel
@{
    ViewBag.Title = "EzTask - " + Html.GetStringResource("AcceptProjectPageTitle", StringResourceType.ProjectPage).ToString();
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/authen/css/authen.css">

    <style type="text/css">
        .login-box-body {
            text-align: center;
        }
    </style>
}

@if (Model != null)
{
    string inviteMess = Html.GetStringResource("AcceptInviteSuccess", StringResourceType.ProjectPage).ToString();
    inviteMess = string.Format(inviteMess, "<b>" + Model.MemberName + "</b>", Model.ProjectName, Model.Manager);
    <p class="login-box-msg">@Html.Raw(inviteMess)</p>    
}
else
{
    <p class="login-box-msg">@Html.GetStringResource("RequestFailed", StringResourceType.Error)</p>
}
<a href="/login.html" class="text-center">@Html.GetStringResource("GoToLogin", StringResourceType.AuthenticationPage)</a>
