
@model ProjectModel
@section header{
    <h1>
        Project
        <small>Update the project on EzTask</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a asp-action="Index" asp-controller="Project">Project</a></li>
        <li class="active">Update</li>
    </ol>
}
@section styles{
    <link rel="stylesheet" href="~/project/css/project.css">
}
<div class="box box-primary">
    <div class="box-header with-border">
        @if (Model.ProjectId < 1)
        {
            if (Model.HasError)
            {
                <i class="fa fa-circle text-red"></i>
                <h3 class="box-title">@Html.PrintErrorMessage()</h3>
            }
            else
            {
                <i class="fa fa-circle text-yellow"></i>
                <h3 class="box-title">You're updating the project</h3>
            }
        }
    </div>
    <div class="box-body">
        <div class="col-md-8">
            <partial name="_CreateOrUpdate" model="Model" />
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/project/js/project.js"></script>
}
