@model ProjectMemberModel
<li>
    <a href="#">
        <img class="contacts-list-img" src="@Url.Action("LoadAvatar","Common", new {accountId = Model.AccountId })">

        <div class="contacts-list-info">
            <span class="contacts-list-name">
                @Model.DisplayName
                <small class="contacts-list-date pull-right">@Model.AddDate.ToString("dd/MM/yyyy")</small>
            </span>
            <span class="contacts-list-msg">@Html.GetStringResource("InvitePending", StringResourceType.ProjectPage)</span>
        </div>
    </a>
</li>