@model ProjectMemberModel
<li>
    <a href="#">
        <img class="contacts-list-img" src="@Url.Action("LoadAvatar","Common", new {accountId = Model.AccountId })" alt="User Image">

        <div class="contacts-list-info">
            <span class="contacts-list-name">
                @Model.DisplayName
                <small class="contacts-list-date pull-right">@Model.AddDate.ToString("dd/MM/yyyy")</small>
            </span>
            <span class="contacts-list-msg">Pending for accepting</span>
        </div>
    </a>
</li>