/*----Project------*/
.project-item {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: 250px;
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
}

    .project-item .name,
    .project-item .description {
        padding: 5px;
        padding-left: 15px;
    }


.bg-info-color {
    background-color: #00c0ef !important;
    color: #fff !important
}

.text-info-color {
    color: #00c0ef !important;
}

.fix-box-info {
    font-size: 14px !important;
}

.project-status {
    margin: 5px;
    margin-top: 10px;
}

    .project-status > h3 {
        padding: 8px;
        font-size: 12px !important;
    }


/*----End Project------*/
