
@model IEnumerable<PhraseModel>


    <div class="box-header with-border">
        <h3 class="box-title">Phrases</h3>

        <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked phrase-list">
            @foreach (var p in Model)
            { 
            <li title="65 tasks">
                <a href="#">
                    <div><i class="fa fa-book text-success"></i> @p.PhraseName <span title="65 tasks" class="label label-warning pull-right">65</span></div>
                    @if(p.StartDate.HasValue)
                    {
                    <div class="date"><i class="fa fa-calendar"></i> <display-for asp-for="@p.StartDate"></display-for> - <display-for asp-for="@p.EndDate"></display-for></div>
                    }                   
                </a>
            </li>               
            }
        </ul>
    </div>

