@{
    var canDisplay = !string.IsNullOrEmpty(Html.PrintSucessMessage().ToString());
}

@model ProjectModel
@section header{
    <h1>
        Project
        <small>Update success a project on EzTask</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a asp-action="Index" asp-controller="Project">Project</a></li>
        <li class="active">Update success</li>
    </ol>
}
<div class="box box-primary">
    <div class="box-header with-border">
        @if (!canDisplay)
        {
            <h3><i class="fa fa-frown-o"></i><span class="space-left">@Html.PrintPageNotFound()</span></h3>
            <span>Click <a asp-action="Index" asp-controller="Project">here</a> to go back project list</span>
        }
        else
        { <i class="fa fa-circle text-green"></i>
            <h3 class="box-title">@Html.PrintSucessMessage()</h3>
        }
    </div>
    @if (canDisplay)
    {
        <partial name="_CreateOrUpdateSuccess" model='Model'/>
    }
</div>