/*----Project------*/
.project-item {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: 250px;
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
}

    .project-item .name,
    .project-item .description {
        padding: 5px;
        padding-left: 15px;
    }


.bg-info-color {
    background-color: #00c0ef !important;
    color: #fff !important
}

.text-info-color {
    color: #00c0ef !important;
}

.fix-box-info {
    font-size: 14px !important;
}

.project-status {
    margin: 5px;
    margin-top: 10px;
}

    .project-status > h3 {
        padding: 8px;
        font-size: 12px !important;
    }

.under-line-dot{
    padding: 4px;
    border-bottom:dotted 1px;
}

.project-detail-summary {
    display: table;
    margin: 0 auto;
}

.task-table table td {
    vertical-align: middle !important;
}

.btn-add-member {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index:9999;
    margin: 5px;
}
.btn-add-member i {
    color:white;
}

.project-form .status-group > div > label {
    padding-right: 15px;
}

/*----End Project------*/
