@model SummaryViewModel

<div class="col-lg-3 col-xs-6">
    <div class="small-box bg-aqua">
        <div class="inner">
            <h3>@Model.TotalProject</h3>
            <p>Live Projects</p>
        </div>
        <div class="icon">
            <i class="fa fa-cube"></i>
        </div>
        <a asp-controller="Project" asp-action="Index" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>

<div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
        <div class="inner">
            <h3>@Model.TotalTask</h3>

            <p>Tasks</p>
        </div>
        <div class="icon">
            <i class="fa fa-tasks"></i>
        </div>
        <a asp-controller="Task" asp-action="Index" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>

<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3>@Model.TotalMember</h3>

            <p>Members</p>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>

<div class="col-lg-3 col-xs-6">
    <div class="small-box bg-red">
        <div class="inner">
            <h3>@Model.TotalNotification</h3>

            <p>Notifications</p>
        </div>
        <div class="icon">
            <i class="fa fa-bell-o"></i>
        </div>
        <a asp-controller="Notification" asp-action="NotificationList" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>