
.project-box .select2 {
    margin-top: 10px !important;
    width: 100% !important;
}

.project-box .btn-addnew-phrase {
    margin-top: 5px !important;
}





/***************Phrase list***************/
.phrase-list {
    max-height: 700px;
    overflow: auto;
}

    .phrase-list .date,
    .phrase-list .status {
        padding-top: 8px;
    }

        .phrase-list .date :nth-child(2) {
            padding-left: 2px;
        }
/***************End Phrase list***************/






/***************Task table***************/
.task-table > .table {
    margin: 0;
}

.task-controls {
    padding: 5px;
}

.task-title {
}

.task-controls.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.task-read-info {
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
}

    .task-read-info h3 {
        font-size: 20px;
        margin: 0;
    }

    .task-read-info h5 {
        margin: 0;
        padding: 5px 0 0 0;
    }

.task-attachments li {
    float: left;
    width: 200px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    margin-right: 10px;
}

.task-attachment-name {
    font-weight: bold;
    color: #666;
}

.task-attachment-icon,
.task-attachment-info,
.task-attachment-size {
    display: block;
}

.task-attachment-info {
    padding: 10px;
    background: #f4f4f4;
}

.task-attachment-size {
    color: #999;
    font-size: 12px;
}

.task-attachment-icon {
    text-align: center;
    font-size: 65px;
    color: #666;
    padding: 20px 10px;
}

    .task-attachment-icon.has-img {
        padding: 0;
    }

        .task-attachment-icon.has-img > img {
            max-width: 100%;
            height: auto;
        }
/***************End Task table***************/







/****************Task modal***************/

#task-modal .select2-container {
    width: 100% !important;
}

#task-modal textarea {
    resize: none;
}

#task-modal .nav-tabs-custom {
    margin-bottom: 0px !important;
}

#tab_history {
    height: 300px;
    position: relative;
}

    #tab_history .content-container {
        max-height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #tab_history .history-item {
        padding-left: 30px;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
    }

        #tab_history .history-item .content-item {
            border-left: 4px solid red;
            background: #f7f7f9;
            padding: 5px;
            width:97%;
        }

        #tab_history .history-item img {
            width: 60px;
            margin-left: 7px;
        }

        #tab_history .history-item .content-item .description {
            padding-left:9px;
        }
         #tab_history .history-item .content-item .description p{
             margin-bottom:0px !important;
         }

/****************End Task modal***************/



/************/

/* width */
.content-container::-webkit-scrollbar,
.phrase-list::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.content-container::-webkit-scrollbar-track,
.phrase-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.content-container::-webkit-scrollbar-thumb,
.phrase-list::-webkit-scrollbar-thumb
{
    background: #888;
}

    /* Handle on hover */
    .content-container::-webkit-scrollbar-thumb:hover,
    .phrase-list::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/***********/
