<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <table>
        <tr>
            <td>

                <img src="https://i.imgur.com/v2YoDfF.jpg" width="150" height="60" />
                <br />
                <br />

                <div style="border-top:3px solid #22BCE5"> </div>

                <span style="font-family:Arial;font-size:10pt">

                    Hello <b>{UserName}</b>,<br /><br />

                    You are invited to join project <b>{Project}</b> on our system,
                    please click the link below to accept the invitation<br />

                    <a style="color:#22BCE5" href="{Url}">{Url}</a>

                    <br /><br />

                    Thanks<br />

                    EzTask Team

                </span>

            </td>

        </tr>

    </table>

</body>

</html> 