@model IEnumerable<List<ProjectModel>>
@{
    var nothingToShow = (Model == null || !Model.Any());
    var projectCount = nothingToShow ? 0 : Model.Sum(c => c.Count());
    var boxStyle = nothingToShow ? "box" : "";

}
@section header{
    <h1>
        Project
        <small>your current projects</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Project</li>
    </ol>
}

<div class="@boxStyle box-primary">
    <div class="box-header">
        <i class="fa fa-bandcamp"></i>
        @if (projectCount < 2)
        {
            <h3 class="box-title">You have @projectCount project</h3>
        }
        else
        {
            <h3 class="box-title">You have @projectCount projects</h3>
        }
        <a asp-action="CreateNew" asp-controller="Project" class="btn bg-orange btn-flat pull-right">
            <i class="fa fa-plus"></i>
            <span class="space-left">Create new</span>
        </a>
        <div class="project-status">
            <span class="space-right">Status Color: </span>
            <h3 class="box-title bg-primary">Pending</h3>
            <h3 class="box-title bg-green">Completed</h3>
            <h3 class="box-title bg-yellow">Cancel</h3>
            <h3 class="box-title bg-red">Failed</h3>
            <h3 class="box-title bg-info-color">Implementing</h3>
        </div>
    </div>
    <div class="box-body">
        @if (nothingToShow)
        {
            <div class="box-header with-border">
                <h3><i class="fa fa-frown-o"></i><span class="space-left">Ops! There is nothing to display right now</span></h3>
                <span>Click <a asp-action="CreateNew" asp-controller="Project">here</a> to create a new project</span>
            </div>
        }
        else
        {
            @Html.Partial("_ProjectList", Model)
        }
    </div>
    @Html.Partial("_DeleteModal")
</div>
@section Scripts{
    <script src="~/js/project.js"></script>
}