@{
    ViewBag.Title = "EzTask - " + Html.GetStringResource("DashboardPageTitle", StringResourceType.DashboardPage);
}

@section styles {
    <link rel="stylesheet" href="~/dashboard/css/dashboard.css">
}

@section header{
    <h1>
        @Html.GetStringResource("Dashboard", StringResourceType.BreadCrumb)
        <small>@Html.GetStringResource("ControlPanel", StringResourceType.BreadCrumb)</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @Html.GetStringResource("Dashboard", StringResourceType.BreadCrumb)</a></li>
        <li class="active">@Html.GetStringResource("Home", StringResourceType.BreadCrumb)</li>
    </ol>
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <h4 style="font-size: 18px; text-align: center;">
                    EZTASK - SIMPLE TASK MANAGEMENT SYSTEM
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                @await Component.InvokeAsync("Summary")
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12"> <hr class="breakline"></div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("CurrentTaskList")
    </div>
</div>

<div class="row">
    <div class="col-md-12"> <hr class="breakline"></div>
</div>

<div class="row">
    <div class="col-md-6 todolist">
        @await Component.InvokeAsync("TodoList")
    </div>
</div>

@section Scripts{
    <script src="~/dashboard/js/dashboard.js"></script>
}
